@import "../../variables.scss";

.EducationItem {
  display: flex;
  flex-direction: column;

  .topRow {
    display: flex;
    justify-content: space-between;

    .schoolName {
      font-size: 22px;
      font-weight: bold;
      color: $secondary-color;
    }
  }

  .title {
    font-style: italic;
    margin-bottom: 15px;
  }

  .description {
    text-align: justify;
  }
}
