@import "../../variables.scss";

.BooksItem {
  display: flex;
  flex-direction: row;
}

.bookCover {
  display: flex;
  align-items: center;
}

.topRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .bookTitle {
    font-size: 22px;
    font-weight: bold;
    color: $secondary-color;
  }

  .seriesTitle {
    font-size: 20px;
    color: $primary-color;
  }
}
