@import "../../variables.scss";

.BooksItem {
  display: flex;
}

.bookCover {
  display: flex;
  align-items: center;
}

.blurb {
  display: flex;
}
  

.bookTitle {
  font-size: 20px;
  font-weight: bold;
  color: $secondary-color;
}

.seriesTitle {
  font-size: 18px;
  color: $primary-color;
  justify-content: center;
}
