@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

$font-stack: Roboto, sans-serif;
$font-color: #32260e;
$primary-color: #2c4d47;
$secondary-color: #3f6a88;
$accent-color: #d7b797;
$navbar-item-color: #ddd;
$footer-text-color: #ddd;
