@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

$font-stack: Roboto, sans-serif;
$font-color: rgb(62, 62, 62);
$primary-color: #545f66;
$secondary-color: #829399;
$accent-color: #d0f4ea;
$navbar-item-color: #ddd;
$footer-text-color: #ddd;
